*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/LaunchedApp/build/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/codeStyles/Project.xml
/readme-freature2.md
/readme_dev.md
/.idea/gradle.xml
/.idea/
/.idea/sonarlint/issuestore/2/8/287bc415d5629a9f8d005a9b65506542003bac39
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/kotlinc.xml
