*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/LaunchedApp/build/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/codeStyles/Project.xml
/readme-freature2.md
/readme_dev.md
/.idea/gradle.xml
