<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seachal.seachaltest">
    <!-- 读取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Android 11+ 包可见性声明 - 用于应用安装检查 -->
    <queries>
        <!-- 微信 -->
        <package android:name="com.tencent.mm" />
        <!-- QQ -->
        <package android:name="com.tencent.mobileqq" />
        <!-- 支付宝 -->
        <package android:name="com.eg.android.AlipayGphone" />
        <!-- 淘宝 -->
        <package android:name="com.taobao.taobao" />
        <!-- 抖音 -->
        <package android:name="com.ss.android.ugc.aweme" />
        <!-- YouTube -->
        <package android:name="com.google.android.youtube" />
        <!-- Chrome -->
        <package android:name="com.android.chrome" />
        <!-- 百度 -->
        <package android:name="com.baidu.searchbox" />
        
        <!-- 通用查询：所有启动器应用 -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <!-- usesCleartextTraffic   [Android 媒体播放器无法通过 HTTP 播放声音文件 - 堆栈溢出](https://stackoverflow.com/questions/60538374/android-media-player-does-not-play-sound-files-over-http)-->
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewGroupAndChildActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager2.Viewpager2Activity"
            android:exported="false" />
        <activity
            android:name=".TextView.SpannableStringActivity"
            android:exported="false" />
        <activity
            android:name=".onSaveInstanceState.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".info.OsInfoActivity"
            android:exported="false" />
        <activity
            android:name=".anr.ANRTestActivity"
            android:exported="false" />
        <activity
            android:name=".scroll.ScrollToTargetViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TimerActivity"
            android:exported="false" /> <!-- 控制跳转 -->
        <activity android:name=".jumptobaseact.JumpActivity" />
        <activity android:name=".jumptobaseact.JumpOneActivity" />
        <activity android:name=".jumptobaseact.JumpTwoActivity" />
        <activity
            android:name=".ObjectAnimator.ObjectAnimatorActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollListFragment.ScrollListFragmentActivity"
            android:exported="false"
            android:label="@string/title_activity_scroll_list_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onActivityResult.OnActivityResultUserFragmentContainerActivity"
            android:exported="false" />
        <activity
            android:name=".onActivityResult.SecondBActivity"
            android:exported="false" />
        <activity
            android:name=".onActivityResult.OnActivityResultActivity"
            android:exported="false" />
        <activity
            android:name=".onActivityResult.OnActivityResultUserFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".dialogfragment.DialogFragmentTestActivity"
            android:exported="false" />
        <activity
            android:name=".layoutparams.LayoutParamsActivity"
            android:exported="false" />
        <activity
            android:name=".overlap.OverlapViewActivity"
            android:exported="false" />
        <activity
            android:name=".FloatingActionButton.FloatingActionButtonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BackgroundTransparentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BackgroundTransparentActivity2"
            android:exported="false" />
        <activity
            android:name=".Activity.BackgroundTransparentActivity3"
            android:exported="false" />
        <activity
            android:name=".Activity.WheelViewActivity"
            android:exported="false" />
        <activity
            android:name=".TextView.TextSizeActivity"
            android:exported="false" />
        <activity
            android:name=".HorizontalAndVerticalScreenSwitchActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".intentflag.LaunchOtherActivity"
            android:exported="false" />
        <activity
            android:name=".getdimension.GetDimensionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LayerListActivity"
            android:exported="false" />
        <activity
            android:name=".touchevent.DragTwoViewActivity"
            android:exported="false" />
        <activity
            android:name=".touchevent.DragViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StringToUriActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StackActivity"
            android:exported="false" />
        <activity
            android:name=".layout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".startmultiActivity.StartMultiActivity"
            android:exported="false"
            android:label="@string/title_activity_start_multi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gesturedetector.OnGestureListener1Activity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.OnGestureListener2Activity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.OnGestureListener3Activity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.OnGestureListener4Activity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.OnDoubleTapListenerActivity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.SimpleOnGestureListenerActivity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.OnDoubleTapListener2Activity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.SimpleOnGestureListenerActivity"
            android:exported="false" />
        <activity
            android:name=".gesturedetector.GestureMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CanvasSaveRestoreActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".HighLevelFunctionActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".PopupDialog.DialogTestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OnClickAbleFasleActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewStubActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CustomTitleActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AndroiodScreenPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CardVeiwScrollActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CardViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity android:name=".Activity.OnTouchActivity" />
        <activity android:name=".Activity.SwitchButtonActivity" />
        <activity
            android:name=".permission.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.AndroidShenRuQianChuActivity" />
        <activity android:name=".Activity.CustomViewPreviewActivity" />
        <activity android:name=".Activity.DebugActivity" />
        <activity android:name=".kotlin.lambda.LambdaActivity" /> <!-- <activity android:name=".kotlin.JavaMainActivity" /> -->
        <activity
            android:name=".navigation.BottomNavigationActivity"
            android:exported="false"
            android:label="Bottom Navigation Example" />

        <activity
            android:name=".navigation.BottomNavigation2Activity"
            android:exported="false"
            android:label="Bottom Navigation Example" />
        <activity
            android:name=".menu.CategorizedMainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Activity.ClipActivity" />
        <activity android:name=".Activity.CountDownTimerActivity" />
        <activity android:name=".customview.CustomTextViewTestActivity" />
        <activity android:name=".Activity.SkipToTaobaoActivity" />
        <activity android:name=".Activity.SkipToTaobaoActivity2" />
        <activity android:name=".Activity.TestActivity" />
        <activity android:name=".Activity.URITestActivity" />
        <activity android:name=".TextView.LinkTextViewActivity" />
        <activity android:name=".ShareGeneratePicture.ShareGeneratePictureActivity" />
        <activity android:name=".RecyclerViewTest.RecyclerViewTestActivity" />
        <activity android:name=".BitmapDip.BitmapDipActivity" />
        <activity android:name=".Activity.ThirdActivity" />
        <activity android:name=".Activity.SecondActivity" />
        <activity android:name=".Activity.EditTextMinAndMaxLengthActivity" />
        <activity android:name=".Activity.ViewMeasureActivity" />
        <activity android:name=".kotlin.KotlinMainActivity" />
        <activity android:name=".Activity.FourthActivity" />
        <activity android:name=".activitystack.TaskStackMenuActivity" />
        <activity android:name=".touchevent.DragThreeViewActivity" />
        <activity android:name=".TextView.TextViewMenuActivity" />
        <activity android:name=".floatrv.RvFloatActivity" />
        <activity android:name=".floatrv.behavior.RvFloatBehaviorActivity" />
        <activity android:name=".floatrv.WithAppBarLayout2" />
        <activity android:name=".Activity.SeekBarSynchronizeActivity" />
        <activity android:name=".baservhelper.MultipleItemUseActivity" />
        <activity android:name=".Activity.CardViewActivity3" />
        <activity android:name=".Activity.CardViewActivity4" />
        <activity android:name=".Activity.CardViewActivity5" />
        <activity android:name=".TextView.TextStrokeActivity" />
        <activity android:name=".onActivityResult.OnActivityResultUserFragmentContainerActivity2" />
        <activity android:name=".jumptobaseact.JumpReferenceActivity" />
        <activity android:name=".onSaveInstanceState.ui.no.LoginActivityNo" />
        <activity android:name=".MediaPlayerActivity" />
        <activity android:name=".MediaPlayerActivity2" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".bundle.AActivity" />
        <activity android:name=".bundle.BActivity" />
        <activity android:name=".bundle.BundleAActivity" />
        <activity android:name=".bundle.Bundle2AActivity" />
        <activity android:name=".bundle.Bundle2BActivity" />
        <activity
            android:name=".Activity.TopShadowTestActivity"
            android:exported="true"
            android:label="顶部圆角阴影测试" />

        <!-- 在已有的AndroidManifest.xml中添加以下内容 -->
        <activity
            android:name=".customtab.CustomTabDemoActivity"
            android:label="自定义Tab示例" />

        <activity
            android:name=".popupwindow.PopupWindowMenuActivity"
            android:label="popupwindow示例" />

        <activity android:name=".popupwindow.AnimatedPopupWindowActivity" />
        <activity android:name=".popupwindow.ArrowPopupWindowActivity" />
        <activity android:name=".popupwindow.BasicPopupWindowActivity" />
        <activity android:name=".popupwindow.CustomLayoutPopupWindowActivity" />
        <activity android:name=".popupwindow.DimBackgroundPopupWindowActivity" />
        <activity android:name=".popupwindow.ListPopupWindowActivity" />
        <activity android:name=".popupwindow.PopupMenuActivity" />
        <activity android:name=".flexbox.FlexboxLayoutDemoActivity" />
        <activity android:name=".flexbox.FlexboxLayoutMenuActivity" />
        <activity android:name=".RecyclerViewTest.grid.GridLayoutManagerDemoActivity"
            android:resizeableActivity="false"
            />
        <activity 
            android:name=".RecyclerViewTest.GridSpaceDecorationDemoActivity"
            android:exported="false"
            android:label="🌟 GridSpaceDecoration演示" />

        <!-- WebView 示例相关 Activity -->
        <activity 
            android:name=".webview.WebViewMenuActivity"
            android:exported="false"
            android:label="WebView示例菜单" />
        
        <activity 
            android:name=".webview.BasicWebViewActivity"
            android:exported="false"
            android:label="基础WebView示例" />
            
        <activity 
            android:name=".webview.JSInteractionActivity"
            android:exported="false"
            android:label="JavaScript交互示例" />
            
        <activity 
            android:name=".webview.ProgressWebViewActivity"
            android:exported="false"
            android:label="带进度条WebView示例" />
            
        <activity 
            android:name=".webview.FileOperationActivity"
            android:exported="false"
            android:label="文件操作WebView示例" />
            
        <activity 
            android:name=".webview.CacheWebViewActivity"
            android:exported="false"
            android:label="缓存管理WebView示例" />
            
        <activity 
            android:name=".webview.SecuritySettingsActivity"
            android:exported="false"
            android:label="WebView安全设置示例" />
            
        <activity 
            android:name=".webview.CookieManagementActivity"
            android:exported="false"
            android:label="Cookie管理示例" />
            
        <activity 
            android:name=".webview.CustomWebViewClientActivity"
            android:exported="false"
            android:label="自定义WebViewClient示例" />
            
        <activity 
            android:name=".webview.HybridDevelopmentActivity"
            android:exported="false"
            android:label="混合开发示例" />
            
        <activity 
            android:name=".webview.PerformanceOptimizationActivity"
            android:exported="false"
            android:label="性能优化示例" />
            
        <activity 
            android:name=".webview.AppInstallCheckActivity"
            android:exported="false"
            android:label="应用安装检查验证" />
            
    </application>

</manifest>
